.first-section {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    
    align-items:center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-container {
    width: 50vw;
}

.img-container img {
    width: 40vw;
}

.title1 {
    letter-spacing: .08rem;
   font-size: 2rem;
   color: var(--primary);
}

.title2 {
    font-size: 1.1rem;
    color: var(--dark-blue);
    
}

.search-form {
    width: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#search-value {
    width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit-search {
    width: 25%;
    height: 100%;
    padding: 2vh 1vw;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
}

#submit-search:hover {
    cursor: pointer;
}

.footer {
    height: 10vh;
    background-color: var(--dark-blue);
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer > p {
    color :white
}

.footer > p > a {
    color : var(--secondary)
}
