@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --light-blue: #daf6fc;
  --primary: #0C2054;
  --light-primary: #3866da;
  --dark-blue: #3d445b;
  --secondary: #F3AC3D;
  --light-secondary: #ecc484;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: var(--light-blue);
}

.header {
  background-color: var(--light-blue);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1.5% 6%;
  transition: .5s ease;
}

.active-header {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1 1 10%;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary);
  cursor: pointer;
}

.link-items {
  list-style: none;
}

.link-items > a {
  text-decoration: none;
  color: var(--dark-blue);
}

.link-items > a:hover {
  text-decoration: underline;
  color: var(--secondary);
}

#active {
  text-decoration: underline;
  color: var(--secondary);
  font-weight: bold;
}

.links {
  flex: 1 1 5%;
}

.link-list {
  display: flex;
  justify-content: space-between;
}

.btns {
  flex: 1 1 10%;
  display: flex;
  justify-content: flex-end;
}

.btns > button {
  padding: 3% 5%;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease ;
}

#loginBtn {
  margin-right: 5%;
  background-color: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}

#loginBtn:hover {
    background-color: var(--primary);
    color: white;
  }

#registerBtn {
  margin-right: 5%;
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
}

#registerBtn:hover {
    background-color: white;
  color: var(--primary);
  }

.main {
  margin: 15% 6%;
  height: 100vh;
}

.footer {
  height: 10vh;
  background-color: var(--dark-blue);
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer > p {
  color: white;
}

.footer > p > a {
  color: var(--secondary);
}
