.main {
  margin: 10% 6%;
  height: 100vh;
}

.section1 {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 1vw;
  width: 50vw;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#register-form > h1 {
  color: var(--primary);
  font-weight: bolder;
}

.message {
  width: 38vw;
  height: 10vh;
}

.failed {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  border-radius: 5px;
  background-color: var(--secondary);
}

.info-icon {
  font-size: 1.5rem;
  color: white;
}

#close-icon {
  cursor: pointer;
}

.email-value,
.password-value,
.first-name-value,
.last-name-value,
.password-confirmation-value {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.new-user {
  font-size: smaller;
  color: var(--light-primary);
  text-decoration: none;
  margin-top: 3%;
}

.new-user:hover {
  text-decoration: underline;
}

.register-submit {
  padding: 3%;
  width: 70%;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.register-submit:hover {
  background-color: var(--secondary);
}
