@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --light-blue: #daf6fc;
  --primary: #0b70dd;
  --light-primary: #10b3d6;
  --dark-blue: #3d445b;
  --secondary: #e92b5f;
  --light-secondary: #e92b5f;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Poppins";
}

header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1% 10vw;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary);

  flex-grow: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar input , #cmb-sujet-discussion {
  width: 100%;
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 4px;
  padding: 1vh 1vw;
}

#cmb-sujet-discussion {
  margin-left: 10px;
  padding: 0;
  font-weight: 700;
  width: 35%;
}



.profile {
  width: 2vw;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.profile img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: 2px solid var(--primary);
  min-width: 3vw;
  min-height: 3vw;
}

.profile i {
  margin-right: 10px;
  color: var(--dark-blue);
  font-size: 1rem;
}


.profile span {
  margin-left: 20px;
  font-size: .8rem;
  color: var(--secondary);
  font-weight: 500;
}

.search-result {
  display: none;
  position: absolute;
  top : 13vh ;
  left: 35vw;
  right: 35vw;

  background-color: white;
 padding: .5vw 2vw;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.search-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-items a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 1vh 0;
}

.search-items a:hover {
 background-color: var(--light-secondary);
}
